# Don't track content of these folders 
**/xcuserdata
# Ignore built files
**/*.swp
**/*.tmp
**/*.[ao]
**/*.dylib
**/*.dSYM/*
**/*.NEW
as/*_dir/*
lib*/*_obj
**/vers.c
**/Makedep
# Ignore test installation
root/*
